

.article-add {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1;
}

.article-add button {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    font-size: 30px;
}

.article-list {
    margin-bottom: 150px;
    margin-top: 150px;
}

.article-list span {
    margin-left: 5px;
}

.article-list h2 {
    font-weight: bold;
    font-size: 50px;
}

.article-list span {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.article-list a {
    width: 100px;
    margin: 0 20px;
    float: right;
}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.article-edit {
    border-width: 3px;
}

.article-edit h1 {
    font-weight: bold;
}

.article-edit input {
    margin: 10px auto;
    border-width: 2px;
    width: 40%;
    height: 45px;
}

.article-edit textarea {
    border-radius: 8px;
    border-width: 2px;
    width: 100%;
    margin-top: 80px;
}

.article-edit button {
    float: right;
    margin: 10px;
}

.article-create {
    border-width: 3px;
}

.article-create h1 {
    font-weight: bold;
}

.article-create input {
    margin: 10px auto;
    border-width: 2px;
    width: 40%;
    height: 45px;
}

.article-create textarea {
    border-radius: 8px;
    border-width: 2px;
    width: 100%;
    margin-top: 80px;
}

.article-create button {
    float: right;
    margin: 10px;
}
