#bg {
    background-color: #f6fbff;
    position: fixed;
    z-index: -99;
    width: 100vw;
    height: 100vh;
}

@media(max-width:1350px) {
    #bg {
        background-size: 100vw 69vw;
        background-repeat: repeat;
    }
}

.register {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.registBoard {
    position: relative;
    height: 700px;
    width: 600px;
    border-radius: 20px;
    background-color: rgba(200, 200, 200, 0.85);
}

.registText {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 60px;
}

.registText2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 60px;
}

.inputPlace {
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mail {
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border: rgba(150, 150, 150, 0.6) solid 3px;
    border-radius: 10px;
}

.userName {
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border: rgba(150, 150, 150, 0.6) solid 3px;
    border-radius: 10px;
}

.password {
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border: rgba(150, 150, 150, 0.6) solid 3px;
    border-radius: 10px;
}

.rePassword {
    padding-left: 20px;
    margin-bottom: 20px;
    border: rgba(150, 150, 150, 0.6) solid 3px;
    border-radius: 10px;
}

input {
    height: 55px;
    background-color: transparent;
    color: black;
    font-weight: bolder;
    border: 0;
    outline: none;
}

input::-webkit-input-placeholder {
    color: white;
    font-size: 20px;
    font-weight: 300
}

#submitBtn {
    font-size: 35px;
    margin: 5px;
    color: rgb(220, 220, 220);
}

.submit {
    margin-top: 30px;
    background-color: rgba(102, 175, 216, 0.7);
    border-radius: 10px;
    transition-duration: 0.3s;
}

.submit:hover {
    background-color: rgba(102, 175, 216, 0.9);
}

@media(max-width:500px) {
    input {
        width: 200px;
    }
}

.haveAccount {
    position: absolute;
    bottom: 85px;
    right: 10px;
    color: #000;
    align-self: flex-end;
    margin-right: 100px;
    text-decoration: none;
}

@media (max-width:640px) {
    .haveAccount {
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
